[
    {
        "scope": "https://api-stage.travelloapp.com:443",
        "method": "POST",
        "path": "/2/users/guest",
        "body": "",
        "status": 201,
        "response": {
            "userName": "random-random-id",
            "profileImages": [],
            "objectId": "8a24ae3e-6629-4bbe-a829-44827e9d0b47",
            "lastUpdatedAt": "2023-03-13T00:54:08.000Z",
            "metaData": {
                "distance": 0,
                "justIn": false,
                "currentLocation": null,
                "followable": true,
                "verified": false,
                "canFollow": true,
                "canFriend": true,
                "canMessage": true,
                "isFriend": null,
                "friendshipStatus": null,
                "isFacebookFriend": null,
                "following": null,
                "commonFriends": 0,
                "commonInterests": 0,
                "commonInterestsList": null,
                "myInterestsList": null,
                "otherUserInterestList": null
            },
            "followable": true,
            "guest": true,
            "email": "random-random-id@guest.travelloapp.com",
            "createdAt": "2023-03-13T00:54:08.000Z",
            "updatedAt": "2023-03-13T00:54:08.000Z",
            "authorizationToken": "eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJFT3BmRU5vUnplZFhpXzBkS01LMHdQMzFsd29TSWdjdThQZUZiZ2dNanFnIn0.eyJleHAiOjE2OTY0OTY1NzgsImlhdCI6MTY4ODcyMDU3OCwianRpIjoiOWE2YTgzOWEtMjA1ZS00OTFhLWE5NzItMDE0NGYwMDEwNzUwIiwiaXNzIjoiaHR0cHM6Ly9zdGFnZS50cmF2ZWxsb2FwcC5jb20vYXV0aC9yZWFsbXMvdHJhdmVsbG8iLCJhdWQiOlsiYmFja3BhY2tlcmRlYWxzIiwidHJhdmVsbG8iLCJiYWNrcGFja2VyZGVhbHMtbmV4dCIsImFjY291bnQiLCJ0cmF2ZWxsb2FwcC1sZWdhY3kiXSwic3ViIjoiOGEyNGFlM2UtNjYyOS00YmJlLWE4MjktNDQ4MjdlOWQwYjQ3IiwidHlwIjoiQmVhcmVyIi[...]
    {
        "scope": "https://stage.travelloapp.com:443",
        "method": "GET",
        "path": "/auth/realms/travello/.well-known/openid-configuration",
        "body": "",
        "status": 200,
        "response": {
            "issuer": "https://stage.travelloapp.com/auth/realms/travello",
            "authorization_endpoint": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/auth",
            "token_endpoint": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/token",
            "introspection_endpoint": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/token/introspect",
            "userinfo_endpoint": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/userinfo",
            "end_session_endpoint": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/logout",
            "frontchannel_logout_session_supported": true,
            "frontchannel_logout_supported": true,
            "jwks_uri": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/certs",
            "check_session_iframe": "https://stage.travelloapp.com/auth/realms/travello/protocol/openid-connect/login-status-iframe.html",
            "grant_types_supported": [
                "authorization_code",
                "implicit",
                "refresh_token",
                "password",
                "client_credentials",
                "urn:ietf:params:oauth:grant-type:device_code",
                "urn:openid:params:grant-type:ciba",
                "urn:ietf:params:oauth:grant-type:token-exchange"
            ],
            "acr_values_supported": [
                "0",
                "1"
            ],
            "response_types_supported": [
                "code",
                "none",
                "id_token",
                "token",
                "id_token token",
                "code id_token",
                "code token",
                "code id_token token"
            ],
            "subject_types_supported": [
                "public",
                "pairwise"
            ],
            "id_token_signing_alg_values_supported": [
                "PS384",
                "ES384",
                "RS384",
                "HS256",
                "HS512",
                "ES256",
                "RS256",
                "HS384",
                "ES512",
                "PS256",
                "PS512",
                "RS512"
            ],
            "id_token_encryption_alg_values_supported": [
                "RSA-OAEP",
                "RSA-OAEP-256",
                "RSA1_5"
            ],
            "id_token_encryption_enc_values_supported": [
                "A256GCM",
                "A192GCM",
                "A128GCM",
                "A128CBC-HS256",
                "A192CBC-HS384",
                "A256CBC-HS512"
            ],
            "userinfo_signing_alg_values_supported": [
                "PS384",
                "ES384",
                "RS384",
                "HS256",
                "HS512",
                "ES256",
                "RS256",
                "HS384",
                "ES512",
                "PS256",
                "PS512",
                "RS512",
                "none"
            ],
            "userinfo_encryption_alg_values_supported": [
                "RSA-OAEP",
                "RSA-OAEP-256",
                "RSA1_5"
            ],
            "userinfo_encryption_enc_values_supported": [
                "A256GCM",
                "A192GCM",
                "A128GCM",
                "A128CBC-HS256",
                "A192CBC-HS384",
                "A256CBC-HS512"
            ],
            "request_object_signing_alg_values_supported": [
                "PS384",
                "ES384",
                "RS384",
                "HS256",
                "HS512",
                "ES256",
                "RS256",
                "HS384",
                "ES512",
                "PS256",
                "PS512",
                "RS512",
                "none"
            ],
            "request_object_encryption_alg_values_supported": [
                "RSA-OAEP",
                "RSA-OAEP-256",
                "RSA1_5"
            ],
            "request_object_encryption_enc_values_supported": [
                "A256GCM",
                "A192GCM",
                "A128GCM",
                "A128CBC-HS256",
                "A192CBC-HS384",
                "A256CBC-HS512"
            ],
            "response_modes_supported": [
                "query",
                "fragment",
                "form_post",
                "query.jwt",
                "fragment.jwt",
                "form_post.jwt",
                "jwt"
            ],
            "registration_endpoint": "https://stage.travelloapp.com/auth/realms/travello/clients-registrations/openid-connect",
            "token_endpoint_auth_methods_supported": [
                "private_key_jwt",
                "client_secret_basic",
                "client_secret_post",
                "tls_client_auth",
                "client_secret_jwt"
            ],
            "token_endpoint_auth_signing_alg_values_supported": [
                "PS384",
                "ES384",
                "RS384",
                "HS256",
                "HS512",
                "ES256",
                "RS256",
                "HS384",
                "ES512",
        [...]
    {
        "scope": "https://stage.travelloapp.com:443",
        "method": "POST",
        "path": "/auth/realms/travello/protocol/openid-connect/token",
        "body": "grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Atoken-exchange&requested_token_type=urn%3Aietf%3Aparams%3Aoauth%3Atoken-type%3Arefresh_token&subject_token=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJFT3BmRU5vUnplZFhpXzBkS01LMHdQMzFsd29TSWdjdThQZUZiZ2dNanFnIn0.eyJleHAiOjE2OTY0OTY1NzgsImlhdCI6MTY4ODcyMDU3OCwianRpI[...]
