.share-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  .share-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .share-info {
    li {
      border: 1px solid #e8e8e8;
      color: #797979;
      display: inline-block;
      font-size: 0.8rem;
      margin-right: 1rem;
      padding: 3px 5px;
      width: fit-content;
      text-align: center;

      a {
        display: inline-block;
        max-height: 1.5rem;
        max-width: 2.5rem;
      }
    }
  }
}
