.region-page {
  :global(section) {
    background-color: white;
    &:nth-of-type(even):not([class*="bg-"]) {
      background: white;
    }
    padding-bottom: 0rem;
  }

  :global(.top-module) {
    margin-top: 40px;
    text-align: center;

    h4 {
      font-family: var(--font-primary);
      font-size: 40px;
      font-weight: bold;
      padding-bottom: 5px;
      line-height: normal;

      @media screen and (max-width: 768px) {
        font-size: 30px;
        margin-top: -2rem;
        margin-bottom: 10px;
      }
    }

    h4:after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 110px;
      height: 5px;
      background: var(--primary);
      border-radius: 5px;
      border-top: 0;
      opacity: 0.25;
      margin-bottom: 25px;
    }

    :global(.content) {
      color: #1a2530;
      font-family: var(--font-primary);
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 40px;
      text-align: left;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }

  :global(.destination-widget) {
    --trav-gallery-height: 400px;
    margin: 2rem 0;

    :global(.destination-head) {
      position: relative;

      img {
        width: 100%;
        height: 100%;
        min-height: 400px;
        object-fit: cover;

        @media (min-width: 576px) and (max-width: 768px) {
          min-height: 300px;
        }

        @media screen and (max-width: 576px) {
          min-height: 260px;
        }
      }

      h2 {
        font-size: 40px;

        @media screen and (max-width: 768px) {
          font-size: 26px;
        }
      }

      .content {
        font-size: 20px;
        max-width: 800px;
      }
    }

    @media (min-width: 768px) {
      --trav-gallery-height: 100vh;
    }
    h2 {
      font-size: 40px;
    }
    :global(.content) {
      font-size: 20px;
      font-weight: 300;
    }

    margin-bottom: 3rem;
  }

  :global(.small-gallery-container) {
    --trav-gallery-height: 320px;
    height: 320px;
  }

  :global(.when-to-go) {
    h5 {
      font-size: 26px;
      font-family: var(font-family-base);
      font-weight: bold;
    }
    h5:after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 110px;
      height: 5px;
      background: var(--primary);
      border-radius: 5px;
      border-top: 0;
      opacity: 0.25;
    }
    :global(.content) {
      font-size: 18px;
      font-weight: 300;
      font-family: var(font-family-base);
    }
  }

  :global(.content-container) {
    text-align: center;
    margin-top: 45px;

    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-bottom: 1rem;
    }

    h5 {
      font-size: 26px;
      font-family: var(--font-primary);
      font-weight: bold;
    }

    h5:after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 110px;
      height: 5px;
      background: var(--primary);
      border-radius: 5px;
      border-top: 0;
      opacity: 0.25;
      margin-bottom: 25px;
    }
  }

  :global(.travel-story-card) {
    height: 320px;
    --trav-card-height: 320px;
    p {
      margin: 0 0 0 0;
    }
  }

  :global(.place-widget) {
    font-family: var(--font-primary);
    margin-bottom: 1.5rem;

    :global(.glider) {
      padding-top: 0rem;
      padding-bottom: 0rem;
    }

    h3 {
      font-family: var(--font-primary);
      font-weight: 600;
      font-size: 26px;
      a {
        color: #333;
      }
    }

    :global(.content) {
      font-weight: 300;
      color: #1a2530;
      font-size: 18px;
      font-family: var(--font-primary);

      margin-bottom: 1.5rem;
    }
  }

  :global(.row) {
    display: flex;

    @media screen and (max-width: 1160px) {
      display: block;
    }
  }

  :global(.col-sm-8) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    width: 66.666667%;

    @media screen and (max-width: 1160px) {
      width: 100%;
    }
  }

  :global(.col-sm-4) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    width: 33.333333%;

    @media screen and (max-width: 1160px) {
      width: 100%;
    }
  }

  :global(.bottom-widget) {
    --trav-gallery-height: 593px;

    &:first-of-type {
      margin-top: 0;
    }

    margin-bottom: 40px;
    .text-details {
      text-align: left;
      padding: 10px 20px;
    }

    h3 {
      margin-bottom: 0;
      font-size: 36px;
      padding-top: 10px;
      padding-bottom: 20px;
    }

    h3:after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 110px;
      height: 5px;
      background: var(--primary);
      border-radius: 5px;
      border-top: 0;
      opacity: 0.25;
    }

    hr {
      text-align: left;
      margin-left: 0;
      margin-bottom: 40px;
    }

    .place-file {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
      }
    }
  }

  :global(.section-travel-story) {
    h5:after {
      content: "";
      display: block;
      margin-top: 10px;
      width: 110px;
      height: 5px;
      background: var(--primary);
      border-radius: 5px;
      border-top: 0;
      opacity: 0.25;
    }
  }

  :global(.picture-background) {
    padding-top: 2rem;

    picture {
      img {
        width: 100%;
        height: 700px;
        object-fit: cover;

        @media (min-width: 1140px) and (max-width: 1400px) {
          height: 520px;
        }

        @media (min-width: 992px) and (max-width: 1140px) {
          height: 450px;
        }

        @media (min-width: 768px) and (max-width: 992px) {
          height: 400px;
        }

        @media (min-width: 576px) and (max-width: 768px) {
          height: 300px;
        }

        @media screen and (max-width: 576px) {
          height: 200px;
        }
      }
    }

    & > h2 {
      font-size: 40px;
    }

    & > .content {
      font-size: 20px;
      max-width: 800px;
    }
  }

  :global(ul.responsive-grid) {
    display: grid;
    grid-gap: 1.5rem;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);

    a {
      height: 100%;
      max-height: 300px;
      display: block;
    }

    @media (min-width: 480px) and (max-width: 767.98px) {
      grid-template-columns: repeat(2, 1fr);

      & > li:nth-last-child(odd):first-child:nth-child(n + 1):nth-child(-n + 1),
      & > li:nth-last-child(odd):first-child ~ li:nth-child(n + 1):nth-child(-n + 1) {
        grid-column: span 2;
      }
    }

    @media (min-width: 768px) and (max-width: 1023.98px) {
      grid-template-columns: repeat(3, 1fr);

      & > li:nth-last-child(3n + 1):first-child:nth-child(n + 1):nth-child(-n + 1),
      & > li:nth-last-child(3n + 1):first-child:nth-child(n + 3):nth-child(-n + 3),
      & > li:nth-last-child(3n + 1):first-child ~ li:nth-child(n + 1):nth-child(-n + 1),
      & > li:nth-last-child(3n + 1):first-child ~ li:nth-child(n + 3):nth-child(-n + 3),
      & > li:nth-last-child(3n + 2):first-child:nth-child(n + 1):nth-child(-n + 1),
      & > li:nth-last-child(3n + 2):first-child ~ li:nth-child(n + 1):nth-child(-n + 1) {
        grid-column: span 2;
      }
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(12, 1fr);

      & > li {
        grid-column: span 3;
      }

      & > li:nth-last-child(4n + 1):first-child:nth-child(n + 1):nth-child(-n + 3),
      & > li:nth-last-child(4n + 1):first-child ~ li:nth-child(n + 1):nth-child(-n + 3),
      & > li:nth-last-child(4n + 2):first-child:nth-child(n + 1):nth-child(-n + 2),
      & > li:nth-last-child(4n + 2):first-child ~ li:nth-child(n + 1):nth-child(-n + 2),
      & > li:nth-last-child(4n + 3):first-child:nth-child(n + 1):nth-child(-n + 1),
      & > li:nth-last-child(4n + 3):first-child ~ li:nth-child(n + 1):nth-child(-n + 1) {
        grid-column: span 6;
      }

      & > li:nth-last-child(4n + 1):first-child:nth-last-child(3n + 2):first-child,
      & > li:nth-last-child(4n + 1):first-child:nth-last-child(3n + 2):first-child ~ li,
      & > li:nth-last-child(4n + 1):first-child ~ li:nth-last-child(3n + 2):first-child,
      & > li:nth-last-child(4n + 1):first-child ~ li:nth-last-child(3n + 2):first-child ~ li {
        grid-column: span 4;
      }

      & > li:nth-last-child(4n + 1):first-child:nth-last-child(3n + 2):first-child:nth-child(n + 1):nth-child(-n + 1),
      &
        > li:nth-last-child(4n + 1):first-child:nth-last-child(3n + 2):first-child
        ~ li:nth-child(n + 1):nth-child(-n + 1),
      &
        > li:nth-last-child(4n + 1):first-child
        ~ li:nth-last-child(3n + 2):first-child:nth-child(n + 1):nth-child(-n + 1),
      &
        > li:nth-last-child(4n + 1):first-child
        ~ li:nth-last-child(3n + 2):first-child
        ~ li:nth-child(n + 1):nth-child(-n + 1) {
        grid-column: span 8;
      }

      & > li:nth-last-child(3n + 0):first-child,
      & > li:nth-last-child(3n + 0):first-child ~ li {
        grid-column: span 4 !important;
      }
    }

    li {
      list-style: none;
      margin: 0;
    }

    picture {
      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  :global(.h-scroll-xs) {
    @media (max-width: 479.98px) {
      display: grid;
      grid-gap: calc(var(--h-scroll-gutter) / 2);
      gap: calc(var(--h-scroll-gutter) / 2);
      grid-template-columns: calc(var(--h-scroll-gutter) / 2);
      grid-auto-flow: column;
      overflow-x: scroll;
      scroll-snap-type: x proximity;
      scrollbar-width: none;

      :after,
      :before {
        content: " ";
        text-indent: -9999px;
        width: 0.1px;
      }

      > * {
        width: var(--h-scroll-card-width);
        scroll-snap-align: center;
      }

      ::-webkit-scrollbar {
        display: none;
      }

      .row > * {
        --bs-gutter-x: 0;
      }
    }
  }

  :global(li a .content) {
    position: relative;
    bottom: 0;
    padding: 1rem;
    z-index: 20;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
    top: -150px;
    height: 150px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: flex-end;

    h3 {
      font-size: 24px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }

  :global(.text-details .content) {
    h3 {
      margin-bottom: 0.5rem;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    h2 {
      font-size: 36px;
      font-weight: 500;
      margin-bottom: 0.5rem;

      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
    }

    p {
      margin-bottom: 1.5rem;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
  }
}
